.form-container[b-qtp6kb93c3] {
    width: 400px;
    margin:0 auto;
}

.form-group[b-qtp6kb93c3] {
    margin-bottom: 20px;

}

.form-label[b-qtp6kb93c3] {
    font-weight: bold;
}

.btn-primary[b-qtp6kb93c3] {
    width: auto;
}
