.form-container[b-jwp6alo0pv] {
    width: 400px;
    margin: 0 auto;
}

.form-group[b-jwp6alo0pv] {
    margin-bottom: 20px;
}

.form-label[b-jwp6alo0pv] {
    font-weight: bold;
}

.btn-primary[b-jwp6alo0pv] {
    width: 100%;
}
