.page[b-uopkotnye1] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-uopkotnye1] {
    flex: 1;
}

@media (min-width: 641px) {
    .page[b-uopkotnye1] {
        flex-direction: row;
    }

   

   article[b-uopkotnye1] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
