
.navbar[b-gsqxve379c] {
    position: sticky;
    top: 0;
    z-index: 100;
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.navbar-brand[b-gsqxve379c] {
    font-size: 1.1rem;
    
}
.nav-item[b-gsqxve379c]{
    display:flex;
    align-content:flex-end
}
.oi[b-gsqxve379c] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}
.nav-link[b-gsqxve379c] {
    color: #fff;
    margin-left: 10px; 
}
.navbar-toggler[b-gsqxve379c] {
    background-color: rgba(255, 255, 255, 0.1);
}


@media (min-width: 641px) {
    .navbar-toggler[b-gsqxve379c] {
        display: none;
    }

    .collapse[b-gsqxve379c] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable[b-gsqxve379c] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
