@page "/products"
<div class="container">
    <h3 class="text-center text-purple">Create Product</h3>

    @if (!string.IsNullOrEmpty(errorMessage))
    {
        <div class="alert alert-danger">
            @errorMessage
        </div>
    }

    <form class="create-product-form" @onsubmit="CreateProduct">
        <div class="form-group">
            <label for="createProductName">Product Name</label>
            <input id="createProductName" class="form-control" @bind="createProductModel.ProductName" required />
        </div>
        <div class="form-group">
            <label for="createProductDescription">Description</label>
            <textarea id="createProductDescription" class="form-control" @bind="createProductModel.ProductDescription"></textarea>
        </div>
        <div class="form-group">
            <label for="createProductPrice">Price $</label>
            <input id="createProductPrice" class="form-control" type="number" step="0.01" @bind="createProductModel.ProductPrice" @oninput="ValidatePrice" required />
        </div>
        <div class="form-group">
            <label for="createProductImage">Upload Image</label>
            <InputFile id="createProductImage" class="form-control" type="file" accept="image/*" OnChange="HandleImageUpload" />
        </div>
        <div class="form-group">
            <label>Added Date</label>
            <input id="createProductDate" type="date" class="form-control" @bind="createProductModel.ProductAddedDate" disabled />
        </div>
        <div class="form-group custom-select">
            <label for="createProductStatus">Status</label>
            <select id="createProductStatus" class="form-control" @bind="createProductModel.ProductStatus">
                <option value="New">New</option>
                <option value="Used">Used</option>
            </select>
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-primary btn-purple">Create</button>
        </div>
    </form>
</div>

@code {

}
