@inherits LayoutComponentBase

<PageTitle>Blazor_Market</PageTitle>

<div class="page">
    <main>
        <NavMenu/>
        <article class="content">
            @Body
        </article>
    </main>
</div>
