<div class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            <img src="images/logo.png" width="90" height="70" alt="Blazor Market Logo" />
        </a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse @NavMenuCssClass">
            <nav class="navbar-nav mx-auto">
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> Home
                    </NavLink>
                </div>
                <AuthorizeView>
                    <Authorized>

                        <NavLink class="nav-link" href="products">
                            <span class="oi oi-box" aria-hidden="true"></span> Products
                        </NavLink>
                        <NavLink class="nav-link" href="about">
                            <span class="oi oi-book" aria-hidden="true"></span> About us
                        </NavLink>
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <NavLink class="nav-link" href="logout">
                                    <span class="oi oi-account-logout" aria-hidden="true"></span> Logout
                                </NavLink>
                            </li>
                        </ul>
                        <NavLink class="nav-link">
                            <span class="oi oi-person" aria-hidden="true"></span> @context.User?.Identity?.Name
                        </NavLink>
                    </Authorized>
                    <NotAuthorized>
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <NavLink class="nav-link" href="login">
                                    <span class="oi oi-account-login" aria-hidden="true"></span> Login
                                </NavLink>
                            </li>
                        </ul>
                    </NotAuthorized>
                </AuthorizeView>
                
            </nav>
        </div>
    </div>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
